<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/games.css">
    <title>Games</title>
  </head>
  <body>
    <main class="main-content">
      <nav class="vertical-nav"></nav>
      <div class="time-zone"></div>
      <div class="logo"></div>
      <div class="full">
        <div class="content">
          <div class="cards">
            <div class="element">
              <div class="img-game">
                <div class="img"><a href="" target="_blank"><img src="https://cdn.dribbble.com/users/10882/screenshots/15172621/media/cd2246d5d0f54f9a4316bd4d276764b2.png?compress=1&amp;resize=400x300" alt="card game BR"></a></div>
              </div>
              <div class="info-content">
                <ul class="socials">
                  <li><a href="https://twitter.com/RiseCityNFT" target="_blank"><i class='fab fa-twitter fa-2x'></i></a></li>
                  <li><a href="https://discord.com/invite/TCEpE7Ktxv" target="_blank"><i class='fab fa-discord fa-2x'></i></a></li>
                </ul>
                <div class="title-games-card">Rise City</div>
              </div>
            </div>
            <div class="element">
              <div class="img-game">
                <div class="img"><a href="https://polychainmonsters.com/" target="_blank"><img src="https://cdn.dribbble.com/users/10882/screenshots/15172621/media/cd2246d5d0f54f9a4316bd4d276764b2.png?compress=1&amp;resize=400x300" alt="card game BR"></a></div>
              </div>
              <div class="info-content">
                <ul class="socials">
                  <li><a href="https://twitter.com/polychainmon" target="_blank"><i class='fab fa-twitter fa-2x'></i></a></li>
                  <li><a href="https://discord.com/invite/2JBNG9C3vz" target="_blank"><i class='fab fa-discord fa-2x'></i></a></li>
                </ul>
                <div class="title-games-card">polychain monsters</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/js/all.min.js" integrity="sha512-yk7SvYYZqGS11tWcb6cyoKiwgrNBeCHC7RebrVa0QOySVjh6WjEjaBaBue+VvDBHEfAGa0Z8/b6+LhoGSeweaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>