extends index.pug

block head
  link(rel="stylesheet", href="../public/css/home.css")
  title NFTC

block content 
  div.center-content
    div.search
     div.text-content
      span Your
      span P2E
      span Colection
     div.search-field
      input.type-field
      button.send-field
    div.banner