extends index.pug

block head
  link(rel="stylesheet", href="/css/home.css")
  title NFTC

block content 
  div.center-content
    div.search
     div.text-content
      span Your
      span P2E
      span Colection
     div.search-field
      form(method="get", action= "/home")
        input.type-field
      button(class= "send-field", type= "submit", name= "game")
    div.banner