extends index.pug

block head
  link(rel="stylesheet", href="/css/home.css")
  title NFTC

block content 
  div.center-content
    div.search
     div.text-content
      span Your
      span P2E
      span Colection
     div.search-field
      form(action= "/search")
        input(class= "type-field", name= "game", value= "")
      button(class= "send-field", type= "submit")
    div.banner