<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>NFTC</title>
  </head>
  <body>
    <main class="main-content">
      <nav class="vertical-nav"></nav>
      <div class="time-zone"></div>
      <div class="logo"></div>
      <div class="center-content">
        <div class="search">
          <div class="text-content"><span>Your</span><span>P2E</span><span>Colection</span></div>
          <div class="search-field">
            <input class="type-field">
            <button class="send-field"></button>
          </div>
        </div>
        <div class="banner"></div>
      </div>
    </main>
  </body>
</html>